* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

hr {
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:5px auto;

}

header {
  background-color:#232B2B;
  color: #E3AE57;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}



nav{
    background-color: #222930;
    text-align: center;
    position: sticky;
    top: 0;
    
}



nav ul li {
    display: inline-block;
    margin:15px auto;
  
}

nav ul li a{
   text-decoration: none;
   color: #4EB1BA;
   font-size: larger;
   padding: 10px;
}

nav ul li a:hover{
    background-color: #E3AE57;
    color: white;
   
 }

main{
    display:flex;
    
}


aside{
    width: 10%;
     display:flex;
    padding: 5%;
    justify-content: center;
    line-height: 3em;
    
  
}

.documents a{
    text-decoration: none;
 }


aside ul {
    list-style-type: none;
    position: fixed;
    padding-top: 8%;
    
    
}

aside ul li a{
    text-decoration: none;
    color: rgb(0, 5, 5);
    font-size: larger;
    padding: 10px;
 }
 
 aside ul li a:hover{
     background-color: #E3AE57;
     color: white;
    
  }


  aside h1{
      font-size: 25px;
  }

section{
    width: 90%;
    padding: 20px;
    padding-right: 20%;
    padding-left: 10%;
}



form{
    text-align: center;
    padding-top: 8%;
    
}
form h1{
    font-weight: 900;
    font-size: 40px;
    color: rgb(94, 82, 80);
}

input, textarea{
    border: rgb(48, 53, 40) 1px solid;
    width: 20%;
    
}

button{
    background-color: rgb(126, 209, 230);
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.sourceHead{
 font-size: 25px;
 background-color: rgba(173, 180, 182, 0.1);
 
}


@media only screen and (max-width: 600px) {
    img {
      width: 200px;
    }
  }




footer{
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #222930;
    color: rgb(253, 253, 253);
  
    padding: 10px;

}

footer div{
    padding-left: 10%;
    float: right;
    position: relative;
    right: 10%;
    
}

footer a{
    padding: 20px;
    color:white
}

.github{
    color: ;
}

.twitter{
    color:rgb(67, 178, 223)
}

.facebook{
    color:#3b5998
}



footer>h5{
    display: inline-block;
    text-align: center;
    
}

footer div a {
    text-decoration: none;
    display: inline-block;
}

